<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  <header>
    <div>
      <img src="/images/logo-mercado-liebre.svg" class="logo" alt="Mercado Liebre">
      <input type="text" placeholder="Buscar productos, marcas">
      <button class="lupa" type="submit"><i class="fa fa-search"></i></button>
      <p class="compra"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav>
      <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        <li><a href="#">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
        <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
        <li><a href="#">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>
    </nav>
    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>
  </header>


  <img src="images/img-home-banner.jpg" alt="banner" id="banner">

  <main>
    <h2>Basado en tu última visita</h2>
    <section class="productos-visitados">
        <ul>
            <li>
                <div class="articulo">
                    <img class="img-producto" src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <h3>Cafetera Moulinex</h3>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                </div>
            </li>
            <li>
                <div class="articulo">
                    <img class="img-producto" src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <h3>MacBook Pro 2019</h3>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                </div>
            </li>
            <li>
                <div class="articulo">
                    <img class="img-producto" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <h3>Samsung Galaxy S10</h3>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                </div>
            </li>
            <li>
                <div class="articulo">
                    <img class="img-producto" src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43'">
                    <h3>SmartTv Samsung 43"</h3>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                </div>
            </li>
        </ul>
    </section>

    <h2>Ofertas</h2>
    <section class="productos-oferta">
        <ul>
            <li>
                <div class="articulo">
                    <img class="img-producto" src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <h3>Cafetera Moulinex</h3>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                </div>
            </li>
            <li>
                <div class="articulo">
                    <img class="img-producto" src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <h3>MacBook Pro 2019</h3>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                </div>
            </li>
            <li>
                <div class="articulo">
                    <img class="img-producto" src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <h3>Samsung Galaxy S10</h3>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                </div>
            </li>
            <li>
                <div class="articulo">
                    <img class="img-producto" src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43'">
                    <h3>SmartTv Samsung 43"</h3>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                </div>
            </li>
        </ul>
    </section>
</main>

  <div class="textos">
    <i class="fa-solid fa-credit-card" id="icon"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p class="cuerpo-de-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

    <i class="fa-solid fa-gift" id="icon"></i>
    <h3>Envío gratis desde $ 2.500</h3>
    <p class="cuerpo-de-texto">Solo por estar registrad@ en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

    <i class="fa-solid fa-user-shield" id="icon"></i>
    <h3>Seguridad, de principio a fin</h3>
    <p class="cuerpo-de-texto">¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    <br>
    <hr>
  </div>

  <footer>
    <p>Copyright © 1999-2024 MercadoLiebre S.R.L.</p>
    <ul>
      <li><a href="#">Terminos y Condiciones</a></li>
      <li><a href="#">Políticas de Privacidad</a></li>
      <li><a href="#">Ayuda</a></li>
    </ul>
  </footer>
</body>
</html>
