<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mercado Liebre</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <header>
        <div>
          <a href="#">
            <img src="/images/logo.png" alt="Mercado Libre">
          </a>
          <form action="#">
            <input type="text" placeholder="Buscar productos, marcas y más...">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
          <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
          <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
          </ul>
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresá</a></li>
            <li><a href="#">Mis compras</a></li>
          </ul>
        </nav>
      </header>
      

  <main>
    <h2>Basado en tu última visita</h2>
    <section class="productos-visitados">
      <ul>
        <li>
          <img src="URL_IMAGEN_CAFETERA" alt="Cafetera Moulinex">
          <h3>Cafetera Moulinex</h3>
          <p class="precio">$6.770</p>
          <p class="descuento">40% OFF</p>
        </li>
        <li>
          <img src="URL_IMAGEN_MACBOOK" alt="MacBook Pro 2019">
          <h3>MacBook Pro 2019</h3>
          <p class="precio">$230.000</p>
          <p class="descuento">20% OFF</p>
        </li>
        <li>
          <img src="URL_IMAGEN_SAMSUNG" alt="Samsung Galaxy S10">
          <h3>Samsung Galaxy S10</h3>
          <p class="precio">$70.500</p>
          <p class="descuento">10% OFF</p>
        </li>
        <li>
          <img src="URL_IMAGEN_SMARTTV" alt="SmartTv Samsung 43'">
          <h3>SmartTv Samsung 43"</h3>
          <p class="precio">$23.200</p>
          <p class="descuento">5% OFF</p>
        </li>
      </ul>
    </section>

    <h2>Sección de Ofertas</h2>
    <section class="productos-oferta">
      <ul>
        <li>
          <img src="URL_IMAGEN_CAFETERA" alt="Cafetera Moulinex">
          <h3>Cafetera Moulinex</h3>
          <p class="precio">$6.770</p>
          <p class="descuento">40% OFF</p>
        </li>
        <li>
          <img src="URL_IMAGEN_MACBOOK" alt="MacBook Pro 2019">
          <h3>MacBook Pro 2019</h3>
          <p class="precio">$230.000</p>
          <p class="descuento">20% OFF</p>
        </li>
        <li>
          <img src="URL_IMAGEN_SAMSUNG" alt="Samsung Galaxy S10">
          <h3>Samsung Galaxy S10</h3>
          <p class="precio">$70.500</p>
          <p class="descuento">10% OFF</p>
        </li>
        <li>
          <img src="URL_IMAGEN_SMARTTV" alt="SmartTv Samsung 43'">
          <h3>SmartTv Samsung 43"</h3>
          <p class="precio">$23.200</p>
          <p class="descuento">5% OFF</p>
        </li>
      </ul>
    </section>
  </main>

  <footer>
    <div>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
  
      <h3>Envío gratis desde $ 2.500</h3>
      <p>Solo por estar registrad@ en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
  
      <h3>Seguridad, de principio a fin</h3>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
  
      <hr>
      <p>Copyright © 1999-2024 MercadoLiebre S.R.L.</p>
      <ul>
        <li><a href="#">Terminos y Condiciones</a></li>
        <li><a href="#">Políticas de Privacidad</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </footer>
  
</body>
</html>
