<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro | Mercado Liebre</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <section class="header-container">
          <img src="/images/logo-mercado-liebre.svg" class="logo" alt="Mercado Liebre">
          <input type="text" placeholder="Buscar productos, marcas y mucho más...">
          <button class="lupa" type="submit"><i class="fa fa-search"></i></button>
        <p class="compra"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </section>
          <nav>
            <ul>
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas Oficiales</a></li>
              <li><a href="#">Vender</a></li>
              <li><a href="#">Ayuda</a></li>
              <li><a href="/">Inicio</a></li>
              <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
              <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
              <li><a href="#">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
          </nav>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </header>
<body>

    <form id="registerForm">

      <h3>Datos de registro:</h3>

        <input type="text" id="fullName" placeholder="Nombre y apellido" name="fullName" required minlength="2">
        <div class="error-message">El nombre y apellido deben ser válidos.</div>

        <input type="text" id="username" placeholder="Nombre de usuario" name="username" required>
        <div class="error-message">El nombre de usuario ya está en uso.</div>

        <input type="email" id="email" placeholder="E-mail" name="email" required>
        <div class="error-message">El e-mail es obligatorio.</div>

        <h3>Fecha de nacimiento:</h3>

        <input type="date" id="birthdate"  name="birthdate" required>
        
        <input type="text" id="address" placeholder="Domicilio" name="address" required>
        <div class="error-message">Ingrese su domicilio.</div>

        <h3>Perfil del usuario:</h3>
        <input type="radio" id="buyer" name="userProfile" value="Comprar">
        <label for="buyer">Comprador</label>
        <input type="radio" id="seller" name="userProfile" value="Vender">
        <label for="seller">Vendedor</label>
        
        <h3>Categorías de interés:</h3>
        <input type="checkbox" id="electro" name="interest" value="Electro">
        <label for="electro">Electro</label><br>
        <input type="checkbox" id="fashion" name="interest" value="Moda">
        <label for="fashion">Moda</label><br>
        <input type="checkbox" id="home" name="interest" value="Hogar">
        <label for="home">Hogar</label><br>
        <input type="checkbox" id="toys" name="interest" value="Juguetería">
        <label for="toys">Juguetería</label><br>
        <input type="checkbox" id="healthylife" name="interest" value="Vida sana">
        <label for="healthylife">Vida sana</label>
        
        <h3>Foto de usuario:</h3>
        <input type="file" id="userPhoto" name="userPhoto" class="boton-inicio" accept="image/*"><br>
        
        <input type="password" id="password" placeholder="Contraseña" name="password" required>
        <div class="error-message">La contraseña es obligatoria.</div>

        <input type="password" id="confirmPassword" placeholder="Confirme su contraseña" name="confirmPassword" required>

        <br><br><br><a href="/" class="boton-inicio">Enviar</a><br>
        <input type="reset" value="Borrar todos los datos" class="boton-inicio" style="height: 42px; top: -15px;">

    </form>

    <div class="textos-flex">
      <div class="texto-item">
        <i class="fa-solid fa-credit-card icono-footer"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p class="cuerpo-de-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </div>
    
      <div class="texto-item">
        <i class="fa-solid fa-gift icono-footer"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p class="cuerpo-de-texto">Solo por estar registrad@ en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
      </div>
    
      <div class="texto-item">
        <i class="fa-solid fa-user-shield icono-footer"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p class="cuerpo-de-texto">¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
      </div>
    </div>

    <footer>
      <div class="footer-section">
          <h4>Sobre Nosotros</h4>
          <p>Somos MercadoLiebre S.R.L., comprometidos con brindarte los mejores productos del mercado.</p>
      </div>
      <div class="footer-section">
          <h4>Contacto</h4>
          <p>Email: contacto@mercadoliebre.com</p>
          <p>Teléfono: +11 24985490</p>
      </div>
      <div class="footer-section social-icons">
          <h4>Síguenos</h4>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
      </div>
      <ul>
          <li><a href="#">Términos y Condiciones</a></li>
          <li><a href="#">Políticas de Privacidad</a></li>
          <li><a href="#">Ayuda</a></li>
      </ul>
      <p>Copyright © 1999-2024 MercadoLiebre S.R.L.</p>
  </footer>
</body>
</html>
