:root {
  --amarillo: #EAC926;
  --azul: #03264C;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}

header {
  background-color: var(--amarillo);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.logo {
  height: 4em;
  margin: 10px;
  cursor: pointer; 
}

input {
  margin-bottom: 3px;
  margin-left: 10px;
  padding: 3px;
  border: none;
  height: 25px;
  width: 250px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 17px;
  cursor: pointer; 
}

.compra {
  text-align: center;
}

button.lupa {
  background-color: var(--gris-claro);
  color: black;
  border-radius: 5px;
  border: none;
  height: 33px;
  max-width: 450px;
  position: relative;
  bottom: 1px;
  cursor: pointer; 
  transition: color 0.3s ease;
}

button.lupa:hover {
  color: var(--gris-oscuro);
}

#banner {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
  
main {
  background-color: #ffffff;
  max-width: 100%;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#productos{
  background-color: var(--gris-claro);
  padding-bottom: 20px;
  padding-top: 22px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.productos-visitados ul, .productos-oferta ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productos-visitados li, .productos-oferta li {
  margin: 10px;
}

.articulo {
  padding: 10px;
  width: 200px;
  text-align: center;
  flex: 1 1 100%;
  transition: box-shadow 0.3s ease;
}

.articulo h3 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.articulo:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.articulo:hover h3 {
  visibility: visible;
  opacity: 1;
}

.fa-truck-fast {
  transition: transform 0.3s ease; 
  display: inline-block; 
  transform-origin: 90%; 
}

.articulo:hover .fa-truck-fast {
  transform: rotateZ(-90deg);
}


.img-producto {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.descuento{
  color:#39b54a;
}


#envio {
  color: #39b54a;
  display: flex;
  align-items: right;
  justify-content: right;
  position: relative;
  right: 15px;
  bottom: 22px;
  font-size: 20px;
  cursor: pointer; 
}


.productos-visitados ul li, .productos-oferta ul li {
  list-style: none;
  background-color: white;
  cursor: pointer; 
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer; 
}

.burger-menu {
  color: white;
  background-color: var(--celeste);
  padding: 10px 1px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
}

.cuerpo-de-texto {
  font-size: 12px;
}

h2 {
  font-size: 24px;
  color: var(--gris-oscuro);
  margin-left: 20px;
}

h3{
  color: var(--gris-oscuro);
}

.precio,
.descuento,
.descripciones {
  font-size: 16px;
}

.textos-flex .texto-item i {
  color: #1259c3;
  font-size: 2em;
  margin-top: 20px;
  cursor: pointer;
}

.texto-item {
  background-color: white;
  text-align: center;
  padding: 25px;
  color: var(--gris-oscuro);
  font-size: 1.1em;
}

.texto-item p{
  font-size: 0.8em;
}


h3,
nav {
  display: none;
}

.burger-menu:hover {
  background-color: #0022AA; 
}

/* LOGIN.HTML */

#loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginForm input{
  width: 34%;
  height: 1.5em;
  margin: auto;
} 

.boton-inicio {
  display: inline-block; 
  padding: 10px 15px; 
  background-color: var(--celeste);
  color: white; 
  text-align: center; 
  text-decoration: none; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.boton-inicio:hover {
  background-color: #0022AA; 
}

.formulario {
 padding: 3em;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 box-sizing: border-box;
}

/* REGISTER.HTML */

#registerForm{
  display: flex;
  flex-direction: column;
  align-items:baseline;
  background-color: var(--gris-claro);
  padding-left: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

#registerForm input{
  position: relative;
  top: 9px;
  margin-top: 30px;
  width: 34%;
}

#registerForm h3{
  margin-top: 40px;
  position: relative;
  top: 30px;
}

#bug-min{
  display: none;
}

footer {
  background-color: var(--gris-claro);
  color: var(--gris-oscuro);
  text-align: center;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  border-top: 1px solid #ccc;
  font-size: 15px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

footer ul li {
  display: inline;
  margin: 0 10px;
}

footer a {
  color: var(--gris-oscuro);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: var(--azul);
}

.footer-section {
  margin-bottom: 20px;
  padding: 0 4px;
}

.footer-section h4 {
  color: var(--gris-oscuro);
}

footer i{
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 1.2em;
}

footer i:hover{
  color: var(--azul);
}

/*INPUT + Error mensaje*/

input:focus {
  outline: none; 
  border: 2px solid var(--celeste); 
}

input:focus:invalid {
  border: 2px solid red; 
}

.error-message {
  display: none;
  color: red;
  font-size: 0.8em;
  padding-top: 10px;
}

#registerForm .error-message {
  display: none;
  color: red;
  font-size: 0.8em;
  padding-top: 20px;
}

input:focus:invalid + .error-message{
  display: block;
}

#registerForm input:focus:invalid + .error-message {
  display: block;
  margin-top: 15px;
}


@media (min-width: 461px) and (max-width: 769px) {

  .burger-menu:hover {
    background-color: #0022AA; 
  }

  .productos-visitados ul li, .productos-oferta ul li {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  h3 {
    display: block;
  }
  
  .header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    flex-basis: 30%; 
    max-width: 30%; 
    cursor: pointer; 
  }
  
  input[type="text"] {
    flex-basis: 35%; 
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 17px;
    cursor: pointer; 
  }
  
  button.lupa {
    flex-basis: 7%;
    height: 40px;
    align-self: stretch;
    position: relative;
    top: 21px;
    left: 3px;
    cursor: pointer; 
    transition: color 0.3s ease;
  }

  button.lupa:hover{
    color: var(--gris-oscuro);
  }
  
  .compra {
    font-size: 23px;
    text-align: center;
    width: 100%; 
    order: 4;
  }
  
  #bug-min{
    display: block;
  }
  
  .burger-menu{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 45px;
    height: 25px;
    padding: 10px 1px;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer; 
  }


}

@media (min-width: 769px) {

  h3,
  nav {
    display: block;
  }

  #bug-min{
    display: block;
  }

  .burger-menu {
    display: none;
  }


  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    gap: 20px;
}

.logo {
    width: 28%;
}

input[type="text"] {
    width: 33%;
}

button.lupa {
    width: 5%;
    position: relative;
    right: 18px;
    bottom: 2px;
    height: 36px;
    transition: color 0.3s ease;
}

button.lupa:hover{
  color: var(--gris-oscuro);

}

.compra {
    width: 33%;
    font-size: 18px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 20px;
}

nav ul li {
  margin-right: 12px;
}

nav ul li:nth-child(5) {
  margin-left: auto; 
}

.productos-visitados ul li, .productos-oferta ul li {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.textos-flex {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  flex-wrap: wrap; 
}

.texto-item {
  flex: 1; 
  margin: 10px; 
  text-align: center; 
}

nav a{
  transition: color 0.3s ease;
}

nav a:hover{
  color: var(--celeste);
}

.textos-flex .texto-item i{
  transition: color 0.3s ease;
}

.textos-flex .texto-item i:hover {
  color: var(--azul);
} 
}
