:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
  }
  
  .logo {
    height: 4em;
    margin: 10px;
  }
  
  input {
    margin-bottom: 3px;
  }
  
  .compra {
    text-align: center;
  }
  
  .img-producto {
    width: 90%;
    padding: auto;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  .burger-menu {
    color: white;
    background-color: var(--celeste);
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 20px;
    width: auto;
  }
  
  body {
    font-family: Roboto;
    box-sizing: border-box;
  }

  header {
    background-color: var(--amarillo);
    padding: 10px;
  }
  
  .cuerpo-de-texto {
    font-size: 12px;
  }
  
  h2 {
    font-size: 24px;
    color: var(--gris-oscuro);
  }
  
  .precio,
  .descuento,
  .descripciones {
    font-size: 16px;
  }
  
  #icon {
    color: #1259c3;
    font-size: 2em;
    margin-top: 20px;
  }
  
  .textos {
    background-color: white;
    text-align: center;
    padding: 25px;
    color: var(--gris-oscuro);
  }
  
  main {
    background-color: var(--gris-claro);
    padding: 20px;
  }
  
  .descuento {
    margin-bottom: 10px;
  }
  
  h3,
  #banner {
    display: none;
  }
  
  #banner {
    display: block;
    margin: auto; 
    max-width: 100%; 
    height: auto; 
    width: 100%;
  }
  
  @media (min-width: 361px) {
    
    h3 {
      display: block;
    }
  }
  
  @media (min-width: 769px) {

  }
  